@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7u2qqj');
  src:  url('fonts/icomoon.eot?7u2qqj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7u2qqj') format('truetype'),
    url('fonts/icomoon.woff?7u2qqj') format('woff'),
    url('fonts/icomoon.svg?7u2qqj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="moon-"], [class*=" moon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-office:before {
  content: "\e900";
}
.moon-linkedin:before {
  content: "\e901";
}
.moon-whatsapp:before {
  content: "\e902";
}
.moon-facebook2:before {
  content: "\e903";
}
.moon-google:before {
  content: "\e904";
}
.moon-eye-blocked:before {
  content: "\e905";
}
.moon-eye:before {
  content: "\e906";
}
.moon-person_outline:before {
  content: "\e907";
}
.moon-arrow_drop_down:before {
  content: "\e908";
}
.moon-flag:before {
  content: "\e909";
}
.moon-phone:before {
  content: "\e90a";
}
.moon-close:before {
  content: "\e90b";
}
.moon-cake:before {
  content: "\e90c";
}
.moon-document:before {
  content: "\e90d";
}
.moon-long-arrow:before {
  content: "\e90e";
}
.moon-arrow_left:before {
  content: "\e90f";
}
.moon-home_02:before {
  content: "\e910";
}
.moon-minus:before {
  content: "\e911";
}
.moon-get_money:before {
  content: "\e912";
}
.moon-setting:before {
  content: "\e913";
}
.moon-plus:before {
  content: "\e914";
}
.moon-check:before {
  content: "\e915";
}
.moon-mail:before {
  content: "\e916";
}
.moon-key:before {
  content: "\e917";
}
.moon-user_01:before {
  content: "\e918";
}
.moon-card:before {
  content: "\e919";
}
.moon-money:before {
  content: "\e91a";
}
.moon-gojeg:before {
  content: "\e91b";
}
.moon-bedroom:before {
  content: "\e91c";
}
.moon-lock:before {
  content: "\e91d";
}
.moon-info:before {
  content: "\e91f";
}
.moon-arrow_down:before {
  content: "\e920";
}
.moon-edit:before {
  content: "\e921";
}
.moon-calenda:before {
  content: "\e922";
}
.moon-call:before {
  content: "\e923";
}
.moon-user-group:before {
  content: "\e925";
}
.moon-row:before {
  content: "\e926";
}
.moon-heart:before {
  content: "\e927";
}
.moon-school:before {
  content: "\e928";
}
.moon-fav:before {
  content: "\e929";
}
.moon-land_mark:before {
  content: "\e92a";
}
.moon-instagram:before {
  content: "\e92b";
}
.moon-twitter:before {
  content: "\e92c";
}
.moon-gender:before {
  content: "\e92d";
}
.moon-parkir:before {
  content: "\e92e";
}
.moon-lift:before {
  content: "\e92f";
}
.moon-kolam:before {
  content: "\e930";
}
.moon-food:before {
  content: "\e931";
}
.moon-wifi:before {
  content: "\e932";
}
.moon-kuas:before {
  content: "\e933";
}
.moon-tree:before {
  content: "\e934";
}
.moon-iron:before {
  content: "\e935";
}
.moon-driyer:before {
  content: "\e936";
}
.moon-cuci:before {
  content: "\e937";
}
.moon-tv:before {
  content: "\e938";
}
.moon-home:before {
  content: "\e939";
}
.moon-gear:before {
  content: "\e93a";
}
.moon-user:before {
  content: "\e93b";
}
.moon-logo_01:before {
  content: "\e93d";
}
.moon-flag_2:before {
  content: "\e93e";
}
.moon-map1:before {
  content: "\e94d";
}
.moon-map:before {
  content: "\e94c";
}
